/*
 * This is a sample StyleSheet file used by AITextArea
 *
 * You can delete this file if you want
 */
.is-regenerating {
display: none;
}
html[data-ajax-progress] .is-regenerating {
    display: block;
}
html[data-ajax-progress] .ai-toggle {
    display: none;
}